//@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
//

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

$color-default:#2E88DB;
//$color-white:#ffffff;
$color-background:#F6F6F6;



@mixin font-bundle($fs,$lh,$c){
  font-size: $fs;
  //font-weight: $fw;
  line-height: $lh;
  color: $c;

  @media (max-width: 1919px) {
    .view-wrapper {
      width: 1376px;
    }
  }
  @media (max-width: 1440px) {
    .view-wrapper {
      width: 1280px;
    }
  }
  @media (max-width: 1312px) {
    .view-wrapper {
      width: 912px;
    }
  }
}


///////////
//.view-wrapper{margin: 0}
///////////

#bookmark-main{

  //로그인 전후 공통 영역

  a:link { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,black);}
  a:visited { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,black);}
  a:hover { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,black);}



  .content-area{ background-color:$color-background ;width: inherit; height: auto;
    padding: 90px 0;
    //padding: 90px 120px;
    //padding: 90px 16vw;
    //padding: 90px 320px;
    display: flex; flex-flow: column;

    //content-card 이 margin 있어서 그거 계산한 값 (content-card --> margin-bottom: 25px;)
    .recommend-partner{margin-bottom: 50px}
    .recommend-crew{margin-bottom: 75px}

    .sub-title{@include font-bundle(14px,23px,$color-default);font-family: NanumSquare, sans-serif; margin-bottom: 4px}
    .content-title{@include font-bundle(32px,41px,black);font-family: NanumSquare, sans-serif;margin-bottom: 42px}

    article{
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 20px;
      //justify-content: space-between;
      &>a{margin-right: 8px; margin-left: 8px; margin-bottom: 16px}
      //li{margin-right: 0}
      //&>li{margin-right: 8px; margin-left: 8px; margin-bottom: 16px}
      //&>li{margin-right: 16px; margin-bottom: 16px}
    }



    .partner-card{


      //flex: 1;



      max-width: 308px;
      //max-width: 332px;
    }


    .crew-card{


      //flex: 1;


      max-width: 416px;
      //max-width: 448px;
      box-sizing: border-box;
    }


    .event-card{


      //flex: 1;

      /////////수정요망
      max-width: 672px;
      //max-width: 448px;
      box-sizing: border-box;
    }

    .event{

      //article{}

      .content-card{padding:0}

      .content-card-event{box-sizing:border-box;background-color: white;
        width: 540px; height: 290px; position: relative;
        display: flex; flex-flow: row; justify-content: flex-start}

      .img-wrapper-event-poster{width: 200px; height: 290px;
        img{width: 100%; height: 100%}
      }

      .content-section{
        padding: 25px;
        display: flex; flex-flow: column; justify-content: space-between;

        .content-event{
          @include font-bundle(18px,21px,black);font-weight: lighter;
        }

        .bookmark{right: 25px;bottom: 20px;}

      }


      .last-content-card-event{width: 540px; height: 290px;}

    }


  }





}
