//@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
//
//$color-default:#2E88DB;
////$color-white:#ffffff;
//$color-background:#F6F6F6;
//
//
//
//@mixin font-bundle($fs,$lh,$c){
//  font-size: $fs;
//  //font-weight: $fw;
//  line-height: $lh;
//  color: $c;
//
//  @media (max-width: 1919px) {
//    .view-wrapper {
//      width: 1376px;
//    }
//  }
//  @media (max-width: 1440px) {
//    .view-wrapper {
//      width: 1280px;
//    }
//  }
//  @media (max-width: 1312px) {
//    .view-wrapper {
//      width: 912px;
//    }
//  }
//}
//
//
/////////////
////.view-wrapper{margin: 0}
/////////////
//
//#main-view{
//
//  //로그인 전후 공통 영역
//  .content-area{
//    background-color:$color-background ;
//    //width: inherit;
//    width: 1196px;
//    height: auto;
//    margin: 0 auto;
//    //padding: 90px 120px;
//    padding: 90px 0;
//    display: flex; flex-flow: column;
//
//    //content-card 이 margin 있어서 그거 계산한 값 (content-card --> margin-bottom: 25px;)
//    .recommend-partner{margin-bottom: 50px}
//    .recommend-crew{margin-bottom: 75px}
//
//    .sub-title{@include font-bundle(14px,23px,$color-default);font-family: NanumSquare, sans-serif; margin-bottom: 4px}
//    .content-title{@include font-bundle(32px,41px,black);font-family: NanumSquare, sans-serif;margin-bottom: 42px}
//
//    article{
//      display: flex; flex-flow: row wrap; justify-content: space-between;}
//
//    .last-content-card{width:250px; height: 300px;position: relative; background-color: $color-default;
//      @include font-bundle(18px,24px,white);font-weight: lighter;
//      p{position: absolute; left: 20px; bottom: 145px}
//      span{display: inline-block; position: absolute; right: 28px; bottom: 28px}
//
//      a:link { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}
//      a:visited { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}
//      a:hover { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}
//
//    }
//
//    .last-content-card-partner{width:276px; height: 324px;
//      //@include font-bundle(18px,24px,white);font-weight: lighter;
//      p{left: 20px; bottom: 145px}
//      span{right: 28px; bottom: 28px}
//    }
//
//    .last-content-card-crew{width:378px; height: 300px;
//      &>p{position: absolute; left: 60px; bottom: 135px}
//    }
//    ///수정요망
//    .last-content-card-event{width:378px; height: 300px;
//      &>p{position: absolute; left: 60px; bottom: 135px}
//    }
//
//
//  }
//
//
//
//  // 로그인 전
//  .before-login{
//    .content-area{
//      padding: 0 120px;
//    }
//    //position: relative;
//
//
//    .img-area{
//      //position: absolute; left: 0; right: 0; top: 0;
//      //width: 100vw;
//      width: 100%;
//      height: 1000px; margin-top: -138px;
//      padding: 0 140px;
//      display: flex; flex-flow: row;justify-content: flex-start; align-items: center;
//      //background-image: url("@/assets/img/modalImage.png");
//      // 절대 경로 로 변경하기
//      background-image: url("../assets/img/mainImg.png");
//      background-repeat: no-repeat;
//      //background-size: 100vw 1080px;
//      .title{font-size: 50px; color:white; }
//      .find-crew{color:white; margin-top: auto}
//    }
//
//
//  }
//
//
//  .after-login{
//    background-color:$color-background ;
//
//    .event{
//
//      //article{}
//
//      .content-card{padding:0}
//
//      .content-card-event{box-sizing:border-box;background-color: white;
//        width: 540px; height: 290px; position: relative;
//        display: flex; flex-flow: row; justify-content: flex-start}
//
//      .img-wrapper-event-poster{width: 200px; height: 290px;
//        img{width: 100%; height: 100%}
//      }
//
//      .content-section{
//        padding: 25px;
//        display: flex; flex-flow: column; justify-content: space-between;
//
//        .content-event{
//          @include font-bundle(18px,21px,black);font-weight: lighter;
//        }
//
//        .bookmark{right: 25px;bottom: 20px;}
//
//      }
//
//
//      .last-content-card-event{width: 540px; height: 290px;}
//
//    }
//
//
//
//  }
//
//}
//
//


@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

$color-default:#2E88DB;
//$color-white:#ffffff;
$color-background:#F6F6F6;



@mixin font-bundle($fs,$lh,$c){
  font-size: $fs;
  //font-weight: $fw;
  line-height: $lh;
  color: $c;

  @media (max-width: 1919px) {
    .view-wrapper {
      width: 1376px;
    }
  }
  @media (max-width: 1440px) {
    .view-wrapper {
      width: 1280px;
    }
  }
  @media (max-width: 1312px) {
    .view-wrapper {
      width: 912px;
    }
  }
}


///////////
//.view-wrapper{margin: 0}
///////////

#main-view{

  //로그인 전후 공통 영역


  .content-area{ background-color:$color-background ;width: inherit; height: auto;
    padding: 90px 0;
    //padding: 90px 120px;
    //padding: 90px 16vw;
    //padding: 90px 320px;
    display: flex; flex-flow: column;

    //content-card 이 margin 있어서 그거 계산한 값 (content-card --> margin-bottom: 25px;)
    .recommend-partner{margin-bottom: 50px}
    .recommend-crew{margin-bottom: 75px}

    .sub-title{@include font-bundle(14px,23px,$color-default);font-family: NanumSquare, sans-serif; margin-bottom: 4px}
    .content-title{@include font-bundle(32px,41px,black);font-family: NanumSquare, sans-serif;margin-bottom: 42px}

    article{
      display: flex;
      flex-flow: row ;
      margin-bottom: 20px;
      //justify-content: space-between;
    }

    .last-content-card{
      width:250px;
      height: 300px;position: relative; background-color: $color-default;
      @include font-bundle(18px,24px,white);font-weight: lighter;
      p{position: absolute; left: 20px; bottom: 145px}
      span{display: inline-block; position: absolute; right: 28px; bottom: 28px}

      a:link { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}
      a:visited { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}
      a:hover { color: white; text-decoration: none;font-weight: lighter;@include font-bundle(18px,24px,white);}

    }

    .partner-card{
      flex: 1;
      max-width: 308px;
      //max-width: 332px;
    }

    .last-content-card-partner{
      max-width: 308px;
      //max-width: 332px;
      flex: 1;
      padding: 16px;
      box-sizing: border-box;
      //width:276px;
      height: 324px;
      //@include font-bundle(18px,24px,white);font-weight: lighter;
      p{left: 20px; bottom: 145px}
      span{right: 28px; bottom: 28px}
    }

    .crew-card{
      flex: 1;
      max-width: 416px;
      //max-width: 448px;
      box-sizing: border-box;
    }
    .last-content-card-crew{
      max-width: 416px;
      //max-width: 448px;
      flex: 1;
      padding: 24px;
      box-sizing: border-box;
      //width:378px;
      height: 300px;
      &>p{position: absolute; left: 60px; bottom: 135px}
    }

    .event-card{
      flex: 1;
      /////////수정요망
      max-width: 600px;
      //max-width: 448px;
      box-sizing: border-box;
    }
    .last-content-card-event{
      flex: 1;
      padding: 24px;
      max-width: 600px;
      //width:378px;
      height: 300px;
      &>p{position: absolute; left: 60px; bottom: 135px}
    }


  }



  // 로그인 전
  .before-login{
    position: relative;

    .img-area{
      //왼쪽 여백남는거 계산!!
      margin-left: calc(((100vw - 100%) / 2) * (-1));
      width: 100vw;
      height: 1000px; margin-top: -138px;
      padding: 0 140px;
      display: flex; flex-flow: row;justify-content: flex-start; align-items: center;
      //background-image: url("@/assets/img/modalImage.png");
      // 절대 경로 로 변경하기
      background-image: url("../assets/img/mainImg.png");
      background-repeat: no-repeat;
      //background-size: 100vw 1080px;
      .title{font-size: 50px; color:white; }
      .find-crew{color:white; margin-top: auto}
    }


  }


  .after-login{
    background-color:$color-background ;

    .event{

      //article{}

      .content-card{padding:0}

      .content-card-event{box-sizing:border-box;background-color: white;
        width: 540px; height: 290px; position: relative;
        display: flex; flex-flow: row; justify-content: flex-start}

      .img-wrapper-event-poster{width: 200px; height: 290px;
        img{width: 100%; height: 100%}
      }

      .content-section{
        padding: 25px;
        display: flex; flex-flow: column; justify-content: space-between;

        .content-event{
          @include font-bundle(18px,21px,black);font-weight: lighter;
        }

        .bookmark{right: 25px;bottom: 20px;}

      }


      .last-content-card-event{width: 540px; height: 290px;}

    }



  }

}
